* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;
}
.bind {
  display: flex;
  justify-content: center;
  width: 100%;
}
.imgData {
  width: 100%;
  max-width: 530px;
  object-fit: contain;
}
h1 {
  text-align: center;
  color: #527eed;
  padding: 81px 0px 82px;
}
.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}
button {
  width: 100%;
  max-width: 145px;
  margin: 78px 15px;
  border-radius: 12px;
  padding: 13px;
  font-size: 20px;
  font-weight: 600;
  background-color: #527eed;
  color: #fff;
}
h2 {
  text-align: center;
  color: #fff;
  box-shadow: 1px 1px 9px 1px #787878;
  height: 260px;
  width: 100%;
  max-width: 260px;
  margin: 21px auto;
  border-radius: 50%;
  padding: 112px 0px;
  font-size: 40px;
}
